.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE
.DS_Store
.cache

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
rebar.lock

# nif dynamic linked lib
priv/*.so
priv/*lttng.*
priv/*.dylib

# language server caches
.ccls-cache/
.els_cache/
compile_commands.json

# IDE
/quic.iml
/.idea/

# downloaded code
msquic/
_packages/
