{erl_opts, [debug_info]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make build-nif"},
   {"darwin", compile, "cp priv/libquicer_nif.dylib priv/libquicer_nif.so"}
  ]}.

{deps, [ {snabbkaffe, {git, "https://github.com/kafka4beam/snabbkaffe.git", {tag, "0.17.3"}}}
       ]}.

{profiles,
 [ {test,
    [{erl_opts, [{d, 'SNK_COLLECTOR'}]}]}
 ]
}.

{relx, [{release, {quicer, git},
         [quicer]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.
