{erl_opts, [ debug_info
           ]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make build-nif"}
  ]}.

{deps, [{snabbkaffe, "1.0.9"}
       ]}.

{profiles,
 [ {test,
    [ {erl_opts, [{d, 'SNK_COLLECTOR'}]}
    , {src_dirs, ["src", "test/example"] }
    ]
   },
  {doc,
    [{plugins, [rebar3_hex, rebar3_ex_doc]},
     {ex_doc, [
               {extras, [ "README.md"
                        , "LICENSE"
                        , "docs/messages_to_owner.md"
                        , "docs/Terminology.md"
                        , "docs/DesignDecisions.md"
                        ]},
               {main, "README.md"},
               {source_url, "https://github.com/emqx/quic"}
              ]}
    ]}
 ]
}.

{artifacts, [ "include/quicer_vsn.hrl"
            , "priv/libquicer_nif.so"
            ]}.

{relx, [{release, {quicer, git},
         [quicer]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.



{project_plugins, [{coveralls, {git, "https://github.com/qzhuyan/coveralls-erl", {branch, "qzhuyan"}}}
                  , rebar3_hex
                  , rebar3_ex_doc
                  ]}.

%% Coveralls
{cover_enabled, true}.
{cover_excl_mods, [qt, qt_ssl, rev, user_default]}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/*.coverdata"}. % or a string with wildcards or a list of files
{coveralls_service_name, "github"}.
{coveralls_parallel, true}.


%% HEX publish
{hex, [{doc, ex_doc}]}.
{ex_doc, [
          {extras, [ "README.md"
                   , "LICENSE"
                   , "docs/messages_to_owner.md"
                   , "docs/Terminology.md"
                   , "docs/DesignDecisions.md"
                   ]},
          {main, "README.md"},
          {source_url, "https://github.com/emqx/quic"}
         ]}.
