{erl_opts, [debug_info]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "git submodule update --init --recursive"},
   {"(linux|solaris)", compile, "cmake -B c_build"},
   {"darwin", compile, "cmake -DQUIC_BUILD_TEST=OFF -DQUIC_TLS=stub -B c_build"},
   {"(linux|darwin|solaris)", compile, "make -C c_build"},
   {"darwin", compile, "cp priv/libquicer_nif.dylib priv/libquicer_nif.so"}
  ]}.
{post_hooks,
   %% todo: do it to CMake
  [%%{"(linux|darwin|solaris)", compile, "cp c_build/submodules/msquic/bin/Release/libmsquic.lttng.so priv/"}
  ]}.
{deps, []}.
