name: asan check
on:
  workflow_dispatch:
    inputs:
      ref:
        required: false

jobs:
  asan:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        check:
          - valgrind-check
          - debug-check
          - sanitizer-check
        scope:
          - all
          - proper
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.ref }}
      - name: asan build
        run: |
          otp_prebuilds=otp-26.2.5.3-ubuntu-22.04.tar.gz
          wget https://github.com/qzhuyan/kerl/releases/download/test2/${otp_prebuilds}
          tar zxvf ${otp_prebuilds} -C /
          ln -s /home/runner/OTP/otp-26.2.5.3/ /home/runner/OTP/default
          echo ". /home/runner/OTP/default/activate" >> ~/.bashrc
      - name: download rebar3
        run: |
          wget https://s3.amazonaws.com/rebar3/rebar3
          chmod a+x rebar3
          mkdir -p $HOME/bin/
          mv rebar3 $HOME/bin/
      - name: run check
        shell: 'script -q -e -c "bash {0}"'
        run: |
          export PATH=$PATH:$HOME/bin/
          . /home/runner/OTP/default/activate

          if [[ "valgrind-check" == ${{ matrix.check }} ]]; then
            sudo apt install valgrind
          fi

          tools/run/bin/${{ matrix.check }} ${{ matrix.scope }}
          ls
      - name: Archive logs
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: .*_logs
          retention-days: 3
