on: ["push", "pull_request"]

name: Test Coveralls

jobs:
  run-cover:
    name: Run Cover
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp:
          - '27'
        rebar3:
          - '3.23.0'
        build_type:
          - RelWithDebInfo
        logging:
          - false
        arch:
          - x86_64
        openssl:
          - openssl3
          - openssl
    steps:
    - name: Checkout
      uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

    - uses: erlef/setup-beam@2f0cc07b4b9bea248ae098aba9e1a8a1de5ec24c # v1.17.5
      with:
        otp-version: ${{ matrix.otp }}
        rebar3-version: ${{ matrix.rebar3 }}

    - name: Run cover
      env:
        QUICER_TLS_VER: ${{ matrix.openssl }}
      run: |
        sudo apt-get install lcov
        export QUICER_TLS_VER
        make cover

    - name: Coveralls C
      uses: coverallsapp/github-action@643bc377ffa44ace6394b2b5d0d3950076de9f63 # v2.3.0
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        flag-name: run-c-lcov-${{ matrix.openssl }}
        files: coverage/proper-lcov.info coverage/lcov.info
        parallel: true
        git-branch: ${{ github.ref_name }}
        git-commit: ${{ github.sha }}

    - name: Run cover with feature switches
      env:
        QUICER_TLS_VER: ${{ matrix.openssl }}
      run: |
        sudo apt-get install lcov
        export QUICER_USE_TRUSTED_STORE=1
        export QUICER_TLS_VER
        make cover

    - name: Coveralls C
      uses: coverallsapp/github-action@643bc377ffa44ace6394b2b5d0d3950076de9f63 # v2.3.0
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        flag-name: run-c-lcov-feature-${{ matrix.openssl }}
        files: coverage/proper-lcov.info coverage/lcov.info
        parallel: true
        git-branch: ${{ github.ref_name }}
        git-commit: ${{ github.sha }}

    - name: Coveralls Erl
      env:
        COVERALLS_FLAG_NAME: erlang-${{ matrix.openssl }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: rebar3 as test coveralls send

  finalize:
    needs: run-cover
    name: finalize
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@643bc377ffa44ace6394b2b5d0d3950076de9f63 # v2.3.0
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true
